<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hungrytree.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hungrytree.sample.activities.SpecificChangeActivity"></activity>
        <activity android:name="com.hungrytree.sample.activities.BasicExampleActivity"></activity>
        <activity android:name="com.hungrytree.sample.activities.InternalControlActivity"></activity>
        <activity android:name="com.hungrytree.sample.activities.ShopDetailActivity"></activity>
        <activity android:name="com.hungrytree.sample.activities.BorderExampleActivity"></activity>
        <activity android:name="com.hungrytree.sample.activities.DecoratorExampleActivity"></activity>


        <activity android:name="com.hungrytree.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>